
@{
    ViewBag.Title = "Reference";
}

<!DOCTYPE html>
<html>
    <head>
        <title>
            References
        </title>

       <style>

           p{
              font-size : 15px;
           }
       </style>
    </head>

    <body>
        <h2 style="margin-bottom: 5px; text-decoration : underline" ;>@ViewBag.Reference</h2>
        <ol>
            <li>Md Mir Kawsur</li>
            <li>Nazmul Hasan</li>
            <li>Zaid Uddin Ahmed</li>
        </ol>
    </body>

</html>




