

<!DOCTYPE html>
<html>
<head>
    <title>Student Info</title>

    <style>
     label,p{
         display : inline-block;
         margin : 0px;
     }

    </style>
</head>


<div>
    <h2 style="margin-bottom: 10px; text-decoration : underline" ;>Student Information</h2>

    <label>
        <strong>Name :</strong>
    </label>
    <p>
        MD.Mohaimenul Islam Talukder
    </p> <br />

         <label>
             <strong>ID :</strong>
         </label>
    <p>
        20-42462-1
    </p>
    <br />
    <label>
        <strong>Email :</strong>
    </label>
    <p>
        Example@gmail.com
    </p>
    <br />
    <label>
        <strong>Contact :</strong>
    </label>
    <p>
        0123456789
    </p>


</div>

</html>



