
@{
    ViewBag.Title = "Education";
}



<!DOCTYPE html>
<html>
<head>
    <title>Education</title>
</head>
<body>
    <h2 style="margin-bottom: 5px; text-decoration : underline" ;>@ViewBag.History</h2>
  
    <h4 style="margin: 5px; text-decoration : underline" ;>HSC</h4>
    <ul>
        <li>
            <strong>Institute : </strong> B.A.F Shaheen College Dhaka
        </li>
        <li>
            <strong>Year :</strong> 2017-2019
        </li>
        <li>
            <strong>Group :</strong> Science
        </li>
        <li>
            <strong>Result :</strong> 5.00
        </li>
    </ul>


    <h4 style="margin: 5px; text-decoration : underline" ;>SSC</h4>
    <ul>
        <li>
            <strong>Institute : </strong> B.A.F Shaheen College Dhaka
        </li>
        <li>
            <strong>Year :</strong> 2015-2017
        </li>
        <li>
            <strong>Group :</strong> Science
        </li>
        <li>
            <strong>Result :</strong> 5.00
        </li>
    </ul>



</body>
</html>