
@{
    ViewBag.Title = "Projects";
}

<!DOCTYPE html>
<html>
<head>
    <title>Projects</title>
    <style>
        table {
            border-collapse: collapse;
        }
        table, th, td{
            border : 1px solid black;
        }
        th,td{
            padding : 5px;
            text-align: left;
        }
    </style>



</head>
<body>
    <h2 style="margin: 5px; text-decoration : underline" ;>@ViewBag.Project_Name</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Course</th>
            <th>Time</th>
            <th>Description</th>
        </tr>
        <tr>
            <td style="font-weight : bold";>School Managment System</td>
            <td>OOP 1 </td>
            <td>Spring (20-21)</td>
            <td>The Projects was based upon a school management system. It was written in JAVA</td>
        </tr>
        <tr>
            <td style="font-weight : bold";>Info Strainer</td>
            <td>OOP 2</td>
            <td>Fall (20-21)</td>
            <td>This Project was unique and had a graphical representation of the of the concept 'Infromation for ALL'</td>
        </tr>

        <tr>
            <td style="font-weight : bold";> Info Strainer</td>
            <td>Web Technologies</td>
            <td>Spring (21-22)</td>
            <td>The project was the same as the one which was made in OOP2 but in this course it was made in a web app format</td>
        </tr>

    </table>

</body>
</html>